@model UserViewModel

<link rel="stylesheet" href="/css/regAndTypes.css" type="text/css">

<div class="heading">
    Добавить нового пользователя
</div>

@if (User.IsInRole("admin"))
{
    <h3>
        @{
            try
            {
                var counter = 1;
                foreach (var user in Model.users)
                {
                    <div>
                        <h1>
                            @counter)
                            Логин: @user.Login;
                            Уровень доступа: @user.Permission
                        </h1>
                    </div>
                    counter++;
                }
            }
            catch (Exception ex)
            {
                <h1>
                    Лист не может быть загружен
                </h1>
            }
        }
    </h3>
    <form asp-action="AddNewUser" asp-controller="User" asp-anti-forgery="true">
        <div class="validation" asp-validation-summary="ModelOnly"></div>
        <div class="textbox">
            <input class="form-control" placeholder="Имя" asp-for="Name" type="text">
        </div>
        <div class="textbox">
            <input class="form-control" placeholder="Фамилия" asp-for="Surname" type="text">
        </div>
        <div class="textbox">
            <input class="form-control" placeholder="Отчество" asp-for="MiddleName" type="text">
        </div>
        <div class="textbox">
            <input class="form-control" placeholder="Логин" asp-for="Login" type="text">
        </div>
        <div class="textbox">
            <input class="form-control" placeholder="Пароль" asp-for="Password" type="text">
        </div>
        <div class="textbox">
            <input class="form-control" placeholder="Подтверждение пароля" asp-for="ConfirmPassword" type="text">
        </div>
        <div class="textbox">
            <input class="form-control" placeholder="Уровень доступа" asp-for="Permission" type="text">
        </div>
        <input class="btn" type="submit" value="Добавить пользователя">
            <p>
                Хотите обновить уровень доступа? <a asp-action="UpdatePermission" asp-controller="User">Обновить</a>
            </p>
    </form>
}
else
{
    <a>У вас не хватает прав</a>
}

