@model NewsViewModel

<link rel="stylesheet" href="/css/regAndTypes.css" type="text/css">

<div class="heading">
    News
</div>
@if (User.Identity.IsAuthenticated)
{
    <h3>
        @{
            try
            {
                foreach (var news in Model.allNews)
                {
                    <div>
                        <h1>
                            @news.Content |
                            @news.Time
                        </h1>
                    </div>
                }
            }
            catch (Exception ex)
            {
                <h1>
                    List could not be loaded
                </h1>
            }
        }
    </h3>
}
else
{
    <a>You don't have enough rights</a>
}

@if (User.IsInRole("admin"))
{
    <form asp-action="AddNews" asp-controller="News" asp-anti-forgery="true">
        <div class="validation" asp-validation-summary="ModelOnly"></div>
        <div class="textbox">
            <input class="form-control" placeholder="Content" asp-for="Content" type="text">
        </div>
        <input class="btn" type="submit" value="AddNews">
    </form>
}